.movie-card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 10px;
  gap: 20px;
}
.movie-card-item {
  width: 260px;

  list-style: none;
  direction: none;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font: 500;
  font-size: 16px;
  background-color: #f5babb2c;
  padding: 10px;
}
.movie-card-item img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  border: 1px solid yellow;
  border-radius: 20px;
}
.poster {
  margin: 0 3px;
}
.movie-card-item h3 {
  padding: 0 10px;
  text-decoration: none;
  color: white;
}
.movie-card-item p {
  text-align: center;
  border-radius: 10px;
  width: fit-content;

  padding: 5px 15px;
  background-color: #d25d5d;
  color: yellow;
  text-decoration: none;
  margin-left: 10px;
  font-weight: 800;
}
.movie-card-item {
  padding: 0 0 20px 0;
}
.movie-card-item h4 {
  padding: 0 10px;
  color: white;
}

@media (max-width: 1400px) {
  .movie-card-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 1300px) {
  .movie-card-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 1000px) {
  .movie-card-list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 700px) {
  .movie-card-list {
    display: grid;
    /* grid-template-columns: 1fr; */
  }
  .movie-card-item h3 {
    font-size: 15px;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    width: 140px;
  }
  .movie-card-item img {
    width: 150px;
    height: 300px;
  }
  .movie-card-item {
    width: fit-content;
    padding: 0px;
  }
}
@media (max-width: 400px) {
  .movie-card-list {
    grid-template-columns: 1fr;
  }
  .movie-card-item img {
    width: 200px;
    height: 300px;
  }
}
