.Player {
  width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #0b1d51, #725cad);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 50px;
}
iframe {
  width: 70vw;
  height: 70vh;
}

button {
  padding: 10px;
  background-color: #8ccdeb;
  color: black;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #a03333;
}

.next-previous {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.next-previous button {
  width: 100px;
}
.episode-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}
.player-info {
  width: 70vw;
}
.player-info h1 {
  color: white;
  font-weight: 900;
}
.player-info h3 {
  background-color: #d25d5d;
  width: fit-content;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 20px;
  font-weight: 700;
  color: yellow;
}
.description {
  color: yellow;
  width: 100%;
}
.series-list h1 {
  text-align: center;
}
@media (max-width: 700px) {
  .Player {
    padding-top: 20px;
  }
  .episode-list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  iframe {
    width: 100vw;
    height: 40vh;
  }
  .player-info {
    padding: 0 15px;
    width: 90%;
  }
}
