.Navbar {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(180deg, #0b1d51);
  border-bottom: 2px solid white;
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container h1 {
  font-weight: 700;
  color: yellow;
}
.logo-container img {
  width: 40px;
  height: 40px;
  border: none;
}
.links {
  display: flex;
  gap: 10px;
  color: yellow;

  align-items: center;
}
.nav-link {
  color: yellow;
  text-align: center;
  padding: 5px 10px;
}
.nav-link:hover {
  background-color: gray;
  border-radius: 10px;
}

@keyframes pulse {
  from {
    text-shadow: 0 0 2px #ff0080, 0 0 2px #ff0080, 0 0 2px #ff0080;
  }
  to {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
  }
}

.glow-animate {
  color: #fff;
  animation: pulse 1.5s infinite alternate;
}
