h1 {
  color: yellow;
  font-weight: 300;
  font-size: 22px;
}
* {
  text-decoration: none;
  list-style: none;
  scrollbar-width: none;
  box-sizing: border-box;
}
@keyframes pulse {
  from {
    text-shadow: 0 0 2px #ff0080, 0 0 2px #ff0080, 0 0 2px #ff0080;
  }
  to {
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff;
  }
}

.glow-animate {
  color: #fff;
  animation: pulse 1.5s infinite alternate;
}
.pages {
  padding-top: 60px;
  background: linear-gradient(180deg, #725cad, #0b1d51);
}
.desk-hide {
  display: none;
}
@media (max-width: 700px) {
  .pages {
    padding-top: 40px;
  }
  .desk-hide {
    display: flex;
  }
}
